<template>
    <a
       :href="link"
       @click.prevent="play()"
       :class="'mark-' + reaction.getMark()"
    >
        <div :class="['overlay', playing ? 'playing' : '']">
            <img src="/sound.svg" alt="Playing now"/>
        </div>
        <span>{{ reaction.display }}</span>
    </a>
</template>

<script>
    export default {
        props: {
            reaction: { required: true },
        },
        data() {
            return {
                playing: false,
                sound: null,
            }
        },
        computed: {
            link() {
                return `/samples/${this.reaction.filename}`;
            },
        },
        methods: {
            play() {
                if (this.stop()) {
                    return;
                }

                this.$emit('played');

                if (!this.sound) {
                    this.sound = new Audio(this.link);
                }
                this.sound.addEventListener('ended', _ => this.playing = false, false);
                this.sound.play();
                this.playing = true;
            },
            stop() {
                if (!this.playing) {
                    return false;
                }

                this.sound.pause();
                this.sound.currentTime = 0;
                this.playing = false;
                return true;
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import "assets/variables";

    a {
        border: 1px solid $border;
        border-radius: $rounded;
        padding: 1.5*$spacer;
        text-transform: uppercase;
        //font-family: $font-headings;
        text-align: center;
        font-size: 1.2em;
        color: $black;
        transition: background-color .5s ease-in-out;
        &:hover {
            background-color: darken($white, 5%);
        }

        display: flex;
        flex-direction: column;
        justify-content: center;

        @each $colour, $value in $colours {
            &.mark-#{$colour} {
                border-top: 5px solid $value;
            }
        }

        position: relative;
        .overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: transparentize($primary, .5);
            img {
                height: 100%;
            }
            opacity: 0;
            transition: opacity .5s ease-in-out;
            &.playing {
                opacity: 1;
            }
        }
    }
</style>
