<template>
    <div class="app">
        <Header/>
        <Nuxt />
        <Footer/>
    </div>
</template>

<script>
    export default {
        mounted() {
            if (process.env.NODE_ENV === 'production') {
                const s = document.createElement('script');
                s.setAttribute('src', 'https://arc.io/widget.min.js#gC4ioRb3');
                document.body.appendChild(s);
            }
        }
    }
</script>

<style lang="scss">
    @import "node_modules/normalize.css/normalize.css";
    @import "assets/variables.scss";
    @import "assets/fonts.scss";

    * {
        box-sizing: border-box;
    }
    body {
        margin: 0;
        font-family: $font-content;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: $font-headings;
    }
    a[href] {
        color: $primary;
        text-decoration: none;
    }
    .app {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        main {
            flex-grow: 1;
        }
    }
    .container {
        max-width: min(90vw, 64rem);
        margin: 0*$spacer calc((100vw - min(90vw, 64rem)) / 2);  // auto doesn't work well with grid
        padding: $spacer;
    }
    section {
        padding-top: $spacer;
        padding-bottom: $spacer;
    }
    ul.list-unstyled, ol.list-unstyled {
        list-style-type: none;
        padding-left: 0;
        li {
            margin-bottom: .4em;
        }
    }
    small, .small {
        font-size: .8em;
    }
</style>
